@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background-image: url(./bg.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #1f2937;
    box-shadow: 0 4px 4px black;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.navbar {
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.navbar a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 100px 10%;
    background-color: #1f2937bb;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 6px 0 12px 0;
    padding: 0;
}

.hero-text button {
    background-color: #3882f6;
    border-style: none;
    border-radius: 10px;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: 900;
    color: #f9faf8;
    font-family: Roboto, sans-serif;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex: 1;
    color: #e5e7eb;
    background-color: lightslategray;
    border-radius: 10px;
}

.information {
    padding: 20px 10%;
    text-align: center;
    color: #e5e7eb;
}

.information h1 {
    font-weight: 900;
    color: #f9faf8;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
    width: 200px;
}

.card img {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
}

.quote {
    padding: 20px 20%;
    text-align: center;
    background-color: #e5e7ebbb;
    color: #1f2937;
}

.quote-text {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    min-width: min-content;
}

.quote-author {
    font-weight: 700;
    font-size: 28px;
    text-align: right;
    min-width: max-content;
}

.signup-container {
    padding: 32px 10%;
}

.signup-modal {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 40px 10%;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.signup-modal h1 {
    color: #f9faf8;
    margin: 0;
    font-size: 26px;
    font-weight: 900;
}

.signup-modal p {
    color: #e5e7eb;
    margin: 0;
}

.signup-modal button {
    background-color: #3882f6;
    border-style: solid;
    border-radius: 10px;
    border-color: #f9faf8;
    padding: 6px 40px;
    font-size: 18px;
    font-weight: 900;
    color: #f9faf8;
    font-family: Roboto, sans-serif;
    flex: 0 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 10%;
    background-color: #1f2937;
    color: #e5e7eb;
    font-weight: 100;
}
